.aboutTodo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F0EDE2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='226' height='226' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C1BEB5' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23B9B6AD'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
    color: #000;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.aboutTituloContainer{
    padding-top: 6vw;
}
.aboutTitulo{
  padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 5vw;
    background-color: #000;
    color: #f0ede2;
    text-align: center;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 0 20px 0 20px;
}

.h2About{
    width: 30vw;  
    margin-top: 3vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    text-align: center;
    font-size: 1.8vw;
    color: #fff;
    background-color: #622135;
    border-radius: 10px;
    border: solid 2px rgba(0,0,0,0.3);
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
}

.pAbout{
    width: 60vw;
    padding-top: 1.5vw;
    text-align: center;
    font-size: 1.2vw;
}

.aboutButtons{
    display: flex;
}

.aboutLink{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: solid 2px #fff;
    width: 12vw;
    height: 3vw;
    font-size: 1.2vw;
    margin: 2rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    transition: all .5s;
}

.aboutLink:hover{
    scale: 1.1;
    border: solid 2px #b994a1;
    color: #b994a1;
}

.EducAbout{
    margin-top: 4vw;
    padding: 1.5vw;
    font-size: 2.3vw;
    border-radius: 10px;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
    background-color: #622135;
    color: #fff;
    border: solid 2px rgba(0,0,0,0.3); 
    opacity: 0;
}

.EducAboutVisible{
  animation: linearAnimation 1s ease-out forwards; 
  animation-name: EducAbout-animate;
}

@keyframes EducAbout-animate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;  
  }
}


/* TIMELINES */
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: .5vw;
    margin-left: 5vw;
    padding-top: 5vw;
    background: #622135;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
    border: solid 2px rgba(0,0,0,0.3);
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: inherit;
  }
  
  .timeline ul li div {
    color: #000;
    position: relative;
    bottom: 0;
    width: 25vw;
    padding: 1vw;
    background-color: transparent;
    border: solid 2px #000;
    border-radius: 30px;
    font-size: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    
  }

  .linkCertificado{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }


.timeline p{
    padding: 1vw;
    margin-top: 1vw;
    width: 10vw;
    border-radius: 30px;
    background-color: #000;
    border: solid 2px transparent;
    transition: all .5s;
    
}

.timeline p:hover{
    color:#b994a1 ;
    border: solid 2px #622135 ;
    transform: scale(1.1);
}
  
  
  .timeline ul li:nth-child(odd) div {
    left: 2vw;
    bottom: 1vw;
    border-radius: 50px 50px 50px 0 ;
    opacity: 0;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -29vw;
    border-radius: 50px 50px 0 50px;
    bottom: 1vw;
    opacity: 0;
  }
  
  .añoTimelime{
    font-size: 2.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #622135;
    border-radius: 10px;
    color: #fff;
    border: solid 2px rgba(0,0,0,0.3);
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
  }

  .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

  }
  .skillsTitulo{
    margin-top: 10vw;
    padding: 1.5vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    width: 20vw;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
border: solid 2px rgba(0,0,0,0.3);
background-color: #622135;
    color: #fff;
    border: solid 2px rgba(0,0,0,0.3); 
    opacity: 0;
  }


  .imgSkill{
    width: 5vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 20px;
    filter: grayscale();
    opacity: .8;
  }

  .skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skillItem{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
  }



  /* ANIMACIONES INTERSECTION OBSERVER */

  .animacionRight{
    animation: linearAnimation 1s ease-out forwards; 
    animation-name: item-animate;
  }

  @keyframes item-animate{
    0%{
      opacity: 1;
      transform: scale(0);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  .animacionLeft{
    animation: linearAnimation 1s ease-out forwards; 
    animation-name: item-animate2;
  }

  @keyframes item-animate2{
    0%{
      opacity: 1;
      transform: scale(0);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }


  /* INTERSECTION OBSERVER HABILIDADES */
  
.HabIco1{
  animation: linearAnimation .2s ease-out forwards;
  animation-name: icon1-animate;
  animation-delay: 1s;
  
}

@keyframes icon1-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco2{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 1.2s;
  animation-name: icon2-animate;
}

@keyframes icon2-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco3{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 1.4s;
  animation-name: icon3-animate;
}

@keyframes icon3-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco4{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 1.6s;
  animation-name: icon4-animate;
}

@keyframes icon4-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco5{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 1.8s;
  animation-name: icon5-animate;
}

@keyframes icon5-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco6{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 2s;
  animation-name: icon6-animate;
}

@keyframes icon6-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco7{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 2.2s;
  animation-name: icon7-animate;
}

@keyframes icon7-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco8{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 2.4s;
  animation-name: icon8-animate;
}

@keyframes icon8-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco9{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 2.6s;
  animation-name: icon9-animate;
}

@keyframes icon9-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco10{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 2.8s;
  animation-name: icon10-animate;
}

@keyframes icon10-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco11{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 3s;
  animation-name: icon11-animate;
}

@keyframes icon11-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}

.HabIco12{
  animation: linearAnimation .2s ease-out forwards;
  animation-delay: 3.2s;
  animation-name: icon12-animate;
}

@keyframes icon12-animate {
  0%{
    filter: grayscale();
    opacity: .8;
  }
  100%{
    filter: none;
    opacity: 1;
    box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 27px 0px rgba(0,0,0,0.75);
  }
}



@media screen and (min-width: 768px) and (max-width: 1020px){
  .aboutTitulo{
      font-size: 6vw;
  }

  .h2About{
    width: 40vw;  
    font-size: 2.5vw;   
}

.pAbout{
  width: 60vw;
  padding-top: 1.5vw;
  text-align: center;
  font-size: 2vw;
}
.aboutLink{
  width: 17vw;
  height: 5vw;
  font-size: 2vw;
}

.EducAbout{
  font-size: 3vw;
}

.linkCertificado{
font-size: 1.5vw;
}
.timeline ul li div {
  font-size: 1.3vw;
}

.skillsTitulo{
  font-size: 3vw;
  width: 27vw;
}

.imgSkill{
  width: 6.5vw;
}

.skillItem{
  font-size: 1.7vw;
}
}