.projContainer{
    height: 110%;
    background-color: #F0EDE2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='226' height='226' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C1BEB5' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23B9B6AD'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
color: #000;
display: flex;
flex-direction: row;
}

.descProj{
    padding-top: 1vw;
    width: 50vw;
}

.descProj>h1{
    padding-top: 1vw;
      padding-bottom: 1vw;
      width: 40vw;
      background-color: #000;
      color: #f0ede2;
      text-align: center;
      margin-left: 2vw;
      margin-bottom: 2vw;
      margin-top: 2vw;
      padding-left: 1vw;
      padding-right: 1vw;
      border-radius: 0 20px 0 20px;
}

.descProj>h3{
    color: #fff;
    background-color: #622135;
    border: solid 2px rgba(0,0,0,0.3);
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
border-radius: 10px;
width: 23vw;
font-size: 1.5vw;
margin-left: 2vw;
padding-left: 1.5vw;
padding-top: .5vw;
padding-bottom: .5vw;
margin-bottom: 2vw;
}

.descProj>p{
    margin-left: 2vw;
    padding-bottom: 2vw;
}

.imgProjDiv{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 50vw;
}
.imgProjDiv>img{
    width: 37vw;
    margin-left: 2vw;
    margin-top: 5vw;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
}

.buttonsProj{
    margin-left: 6.5vw;
    margin-top: 2vw;
}

.linkButtProj>button{
    cursor: pointer;
    width: 12vw;
    height: 3.5vw;
    font-size: 2vw;
    margin: 1vw;
    color: #fff;
    background-color: #000;
    border: solid 2px transparent;
    border-radius: 20px;
    transition: all .5s;
}

.linkButtProj>button:hover{
    scale: 1.1;
    border: solid 2px #b994a1;
    color: #b994a1;
    
}



@media screen and (min-width: 768px) and (max-width: 1020px){
    .buttonsProj{
        margin-left: 1.7vw;
        margin-top: 2vw;
    }
    .linkButtProj>button{
        width: 17vw;
        height: 5vw;
        font-size: 3vw;
    }
        .descProj>h1{
            width: 45vw;
            font-size: 3vw;
        }
    
        .descProj>h3{
        width: 45vw;
        font-size: 2.3vw;
        }
        
        .descProj>p{
            margin-left: 2vw;
            font-size: 2vw;
        }
    
        .imgProjDiv>img{
            width: 37vw;
            margin-top: 20vh;
        }
}