.proj3Container{
    height: 230vh;
    background-color: #F0EDE2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='226' height='226' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C1BEB5' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23B9B6AD'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
color: #000;
}
.proj3Container>h1{
    padding-left: 1vw;
    border-radius: 0 20px 0 20px;
    margin-top: 3vw;
    position: absolute;
    margin-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #000;
    color: #f0ede2;
    width: 65vw;
    font-size: 2.2vw;
}
.projVB{
    padding-top: 13vw;
    display: flex;
    flex-direction: row;
}

.projVBleft{
    width: 40vw;
    margin-left: 8vw;
    margin-top: 2vw;
}

.projVBleft>h3{
    color: #fff;
    background-color: #622135;
    width: 22vw;
    padding-left: .7vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    border-radius: 10px;
    font-size: 1.5vw;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
border: solid 2px rgba(0,0,0,0.3);
}

.projVBleft>p{
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.imgProjVBDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
}

.imgProjVBDiv>img{
    width: 30vw;
    object-fit: contain;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
}

.projC{
display: flex;
flex-direction: row;
margin-top: 8vw;
}

.projCright{
    width: 40vw;
    margin-left: 5vw;
    margin-top: 2vw;
}

.projCright>h3{
    color: #fff;
    background-color: #622135;
    width: 28vw;
    padding-left: .7vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    border-radius: 10px;
    font-size: 1.5vw;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
border: solid 2px rgba(0,0,0,0.3);
}

.projCright>p{
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.imgProjCDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8vw;
}

.imgProjCDiv>img{
    width: 30vw;
    object-fit: contain;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
}

.projCmas{
    display: flex;
flex-direction: row;
margin-top: 8vw;
}

.projCmasLeft{
    width: 40vw;
    margin-left: 8vw;
    margin-top: 2vw;
}

.projCmasLeft >h3{
    color: #fff;
    background-color: #622135;
    width: 28vw;
    padding-left: .7vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    border-radius: 10px;
    font-size: 1.5vw;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
border: solid 2px rgba(0,0,0,0.3);
}

.projCmasLeft>p{
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.imgProjCmasDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4vw;
    margin-top: 4vw;
}

.imgProjCmasDiv>img{
    width: 35vw;
    object-fit: contain;
    box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 14px -1px rgba(0,0,0,0.75);
}

@media screen and (min-width: 501px) and (max-width: 1020px){
    .proj3Container>h1{
        margin-left: 5vw;
        width: 85vw;
        font-size: 3vw;
    }   
    .projVBleft>h3{
        width: 30vw;
        font-size: 2.3vw;
    }
    .projVBleft>p{
        font-size: 1.7vw;
    }
    .imgProjVBDiv{
        margin-left: 1vw;
        margin-top: 10vw;
    }
    .imgProjVBDiv>img{
        width: 40vw;
    }
    
    .projCright{
        margin-left: 2vw;
    }
    
    .projCright>h3{
        width: 38vw;
        font-size: 2.3vw;
    }
    
    .projCright>p{
        font-size: 1.7vw;
    }
    
    .imgProjCDiv{
        margin-left: 7.5vw;
    }
    
    .imgProjCDiv>img{
        width: 40vw;
    }
    
    .projCmasLeft >h3{
        width: 40vw;
        font-size: 2.3vw;
    }
    
    .projCmasLeft>p{
        font-size: 1.7vw;
    }
    
    .imgProjCmasDiv{
        margin-left: 1vw;
        margin-top: 10vw;
    }
    
    .imgProjCmasDiv>img{
        width: 40vw;    
    }
}

@media screen and  (max-width: 500px){
    .proj3Container{
        padding-top:3vw;
        height: 270vh;
    }
    .proj3Container>h1{
        width: 90vw;
        font-size: 5vw;
        margin-left: 2vw;
    }
    .projVBleft{
        height: 145vw;
    }
    .projVBleft>h3{
        width: 70vw;
        font-size: 5vw;
        margin-top: 7vw;
        text-align: center;
    }
    .projVBleft>p{
        font-size: 3vw;
        width: 75vw;
        margin-top: 65vw;
    }
    .imgProjVBDiv{
        margin-left: -40vw;
        margin-top:20vw;
    }
    .imgProjVBDiv>img{
        width: 75vw;
        position:inherit;
    }
    
    .projCright{
        margin-top: 20vw;
        margin-left: -75vw;
    }
    
    .projCright>h3{
        width: 70vw;
        font-size: 5vw;
        text-align: center;
    }
    
    .projCright>p{
        font-size: 3vw;
        width: 75vw;
        margin-top: 55vw;
 
    }
    
    .imgProjCDiv{
        margin-top: 38vw;
    }
    
    .imgProjCDiv>img{
        width: 75vw;
    }
    .projCmasLeft{
    height: 100vw;
    }
    
    .projCmasLeft >h3{
        width: 70vw;
        font-size: 5vw;
        margin-top: 2vw;
        text-align: center;
    }
    
    .projCmasLeft>p{
        font-size: 3vw;
        width: 75vw;
        margin-top: 43vw;
    }
    
    .imgProjCmasDiv{
        margin-left: -40vw;
        margin-top:22vw;
    }
    
    .imgProjCmasDiv>img{
        width: 75vw;
        position:inherit; 
    }
}