.navBar{
    width: 20vw;
    padding-top:115vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    z-index: 100;
    background-color: #000;
    height: 110vh;
    transition: all .3s;

}

.navBarContainer{
    display: flex;
    position: fixed;
    align-items: center;
}


.navBarImg{
    padding-top: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: .5vw;
    width: 18vw;  
    border-radius: 59% 41% 60% 40% / 62% 61% 39% 38%; 
    background-color: rgb(98, 33, 53);
    margin-left: .5vw;
}

.navBarItem{    
    color: #f0ede2;
    opacity: .9;
    height: 2vw;
    width: 60%;
    margin-top: 4vw;
    font-size: 1.8vw;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: solid 2px transparent;
    margin-left: 4vw;
    transition: all .4s;
    background-color: transparent;
    
}

.navBarItem:hover{
    scale: 1.15;
    color: rgb(185, 148, 161);
    text-shadow: 1px -2px 8px rgba(98, 33, 53);
    
}

.navBarLink{
    text-decoration: none;
}

.navBarIcons{
    margin-left: 90vw;
    top: 35vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 27vw;
    border-radius: 30px;
    width: 4.5vw;
    background-color: #000;
    opacity: .9;
    z-index: 101;
}

.navBarIcons>:first-child{
    margin-top: 2vw;
}

.navBarIco{
    font-size: 2.5vw;
    margin-top: 2.5vw;
    cursor: pointer;
    margin-left: 0;
    transition: all .4s;
}

.navBarIco:hover{
    scale: .8;
    color: #b994a1;
}

.navBarIcoLinks{
    color: #f0ede2;
    text-align: center;
}

.navBarDisplay{
    display: none;
}




.burger-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    left: 75vw;
    height: 5vh;
    top: 80vh;
  }
  
  .burger-button.open {
    z-index: 1000;
  }
  
  .burger-button.open{
    display: none;
  }



@media screen and (min-width: 501px) and (max-width: 1020px) {
    .navBar{
        padding-top:135vh;    
    }

    .navBarItem{    
        height: 4vw;
        width: 65%;
        margin-top: 4vw;
        font-size: 2.5vw;
        margin-left: 2vw;
        
    }

    .navBarIcons{
        height: 30vw;
        width: 6vw;
        padding-bottom: 2vw;
    }

.navBarIco{
    font-size: 4vw;
}
}



@media screen and (max-width: 500px) {
    .navBar{
        display: none;   
    }

    .navBarIcons{
        display: none;
        height: 21vh;
        width: 6vh;
        padding-bottom: 2vw;
        margin-left: 76vw;
        top: 59vh;        
    }

    .navBarIcons.show{
        display: flex;
        animation: navbarButton .5s ease-in-out;       
    }


    @keyframes navbarButton {
        0%{
            transform: scale(.5);
            top: 90vh;
            height: 0;
            
        }
        100%{
            transform: scale(1);
        }
    }

.navBarIco{
    font-size: 3vh;
    margin-top: 1.5vh;
}

.burger-button.open{
    display: block;
  }

  
.burger-button{
    display: flex;
}
}